
<div class="container mx-auto">
  <div class="pb-5 pt-5">
    <input type="text" placeholder="Search movie here" class="input input-bordered w-full max-w-xs mr-2" [(ngModel)]="searchMovie" />
    <button class="btn btn-secondary mr-2" (click)="applyFilter(searchMovie)">Apply</button>
    <button class="btn btn-outline btn-secondary" (click)="clearFilter()">Clear</button>
  </div>

  <div class="overflow-x-auto" *ngIf="movies && movies.length">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>Name</th>
          <th>Year</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let movie of movies | paginate: config">
          <td>
            <div class="flex items-center space-x-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img [src]=movie.Poster />
                </div>
              </div>
              <div>
                <div class="font-bold">{{ movie.Title }}</div>
              </div>
            </div>
          </td>
          <td>
            {{ movie.Year }}
          </td>
          <td>{{ movie.Type }}</td>
          <th>
            <button class="btn btn-ghost btn-xs" (click)="goToDetails(movie.imdbID)">details</button>
          </th>
        </tr>
      </tbody>
      <!-- foot -->
    </table>
    <pagination-controls (pageChange)="onPageChange((page = $event))" [id]="'omdb'" previousLabel="Previous" nextLabel="Next"></pagination-controls>    
  </div>
  <div class="alert alert-error" *ngIf="errorMessage">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span>{{errorMessage}}</span>
  
  </div>
</div>